.section {
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}

.section__header {
    color: hsla(0, 59%, 41%, 0.959);
    font-size: 160%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.section__topicTitle {
    color: hsla(0, 59%, 41%, 0.959);
    background: linear-gradient(to right, hsl(0, 100%, 97%), #fff);
}

.section__topicTitle--other {
    color: hsl(151, 100%, 25%);
}